/**
 *= require bootstrap-custom
 *= require_tree ./compare
 */

* {
  font-family: 'Work Sans', sans-serif;
}

.translation_missing {
  outline: 1px dashed red;
}

.description {
  font-size: 1.4em;
}

h1 {
  font-size: 3.7em;
  font-weight: bold;
}

h2 {
  margin-top: 0;
  font-size: 3.5em;
  padding-bottom: 0.3em;
}

form {
  margin-bottom: 9em;
}
