/**
 *= require bootstrap-custom
 *= require_tree ./compare
 */

.translation_missing {
  outline: 1px dashed red;
}

h1 {
  font-size: 3.7em;
  font-weight: bold;
}

h2 {
  margin-top: 0;
  font-size: 3.5em;
  padding-bottom: 0.5em;
}

form {
  margin-bottom: 9em;
}
